# Puerto de inicio del servicio express
PORT=8080
# MongoDB Atlas
MONGODB_URI=mongodb+srv://user:password@main-cluster.xz4a45g.mongodb.net/lava_ecommerce
# Limite por defecto de la paginación de products
PAGINATION_LIMIT=10
# Página por defecto de la paginación de products
PAGINATION_PAGE=1
# Persistencia por defecto: MONGO o FILESYSTEM
PERSISTENCE=MONGO
# Cargar datos iniciales al iniciar la app
SEED_DATA=true