<input type="hidden" id="productId" value="{{product.id}}">

<h1>{{product.title}}</h1>

<p>{{product.description}}</p>

<p>S/. {{product.price}}</p>

<button id="btnAddCart">
    Agregar al carrito
</button>
<a href="/products">
    Volver al catálogo
</a>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/product.js"></script>