{{!-- <header>
    <h1>Bienvenido a {{titulo}}</h1>
    <p>El mejor lugar para comprar tecnología</p>
</header> --}}

<nav class="navbar">
    <a href="/products">
        <img src="/images/logo_blanco.webp" alt="Logo Lava" />
    </a>
    {{!-- <div className={styles.navbarMenu}>
        { categories !== null && categories.map(cat => <NavLink key={cat.id} to={`/category/${cat.id}`}>{cat.nombre}</NavLink>) }
    </div>
    <CartWidget /> --}}
</nav>